body{
  position: relative;
  background-repeat: no-repeat;
  background-size:  210px 210px;
  text-align:center;
  font-size:136%;
  width: 99%;
  top: 93%;
  margin-bottom: 93;
  background:linear-gradient(#990000, #180ae2);
  background-size: 150% 150%;
  }

#texto{
  font:20px Arial, Sans-serif;
  text-align: center;
  width:400px;
  height:25px;
  border: 1px
  solid #990000;
  }

#deslocamento{
  text-align: center;
  width:131px;
  height:18px;
  border: 1px
  solid #990000;
}

#textocifrado{
  text-align: center;
  font:28px Arial, Sans-serif;
  line-height:50px;
  width:400px;
  height:70px;
  border: 1px
  solid #990000;
}